.scg-ch-prefix {
  font-weight: normal;
}

.scg-ch-child .scg-ch-prefix {
  opacity: 0;
}

.scg-ch-separator {
  margin: 0 .2em 0 .1em;
  font-weight: 100;
  transform: scale(1.0, 1.9);
  display: inline-block;
  font-family: monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
}

.scg-ch-name {}
