.scg-grouping-wrapper {
    position: relative;
    border: 0px solid rgba(0, 0, 0, 1);
    border-left-width: 3px;
    margin: 7px 0px 5px 3px;
}

.scg-grouping-wrapper .scg-grouping-wrapper-header {
    z-index: 1;
    position: sticky;
    top: -1px;
    background: rgba(0, 0, 0, 1);
    color: #ccc;
    font-size: 0.8em;
    line-height: 1.5em;
    height: 1.5em;
    padding-left: 1.0em;
}

.scg-grouping-wrapper [role=listitem] a {
    padding-left: 9px;
}