.scg-grouping-wrapper {
    position: relative;
    border: 0px solid rgba(0, 0, 0, 1);
    border-left-width: 4px;
    margin: 3px 0px 3px 2px;
}

.scg-grouping-wrapper .scg-grouping-wrapper-header {
    display: inline-block;
    z-index: 1;
    position: sticky;
    top: -1px;
    background: rgba(0, 0, 0, 1);
    color: #ccc;
    font-size: 0.75em;
    line-height: 1.3em;
    height: 1.3em;
    margin: 0;
    padding: 0 1.4em;
    border-radius: 0 5px 5px 0;
    /* font-weight: bold; */
}

.scg-grouping-wrapper .scg-grouping-wrapper-header .ts_icon {
    font-size: 0.7em;
}

.scg-grouping-wrapper [role=listitem] a {
    padding-left: 9px;
}