{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 20 Firefox versions",
          "last 20 Chrome versions"
        ]
      },
      "useBuiltIns": "usage"
    }],
    "@babel/preset-typescript"
  ]
}
